-i https://pypi.org/simple/
atomicwrites==1.4.0
attrs==20.3.0
entrypoints==0.3
flake8==3.7.8
importlib-metadata==4.0.1 ; python_version < '3.8'
mccabe==0.6.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
pytest==5.1.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
zipp==3.4.1
